[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-decouple = "*"
rq = "*"
redis = "*"
colorama = "*"
flask-restx = "*"
seleniumbase = "*"
langchain = "*"
langchain-openai = "*"
python-dotenv = "*"
langchain-core = "*"
langchain-community = "*"
pymilvus = "*"
qdrant-client = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.11"
