<form id="form-content"
  {% block end_state %}
  hx-post="/form/state"
  hx-swap="outerHTML"
  hx-ext='json-enc'
  x-data="{ submitAction: 'next' }"
  class="animate-appear"
  {% endblock %}
  >
  <ul>
    {% block content %}
    {% endblock %}
    <li>
      {% block button %}
        <button id="previous" type="submit">previous</button>
        <button id="next" type="submit">next</button>
      {% endblock %}
    </li>
  <ul>
</form>
