{% macro gen_buttons(state, done) %}
<li>
  {% if state != 0 -%}
    <button id="previous" type="submit">previous</button>
  {% endif %}

  {% if done %}
  <button id="done" type="submit">done</button>
  {% else %}
  <button id="next" type="submit">next</button>
  {% endif %}
</li>
{% endmacro %}
