{% extends "questions/base.html" %} {% block content %}
<fieldset>
  <legend>Select classes taken:</legend>
  <li>
    <div>
      <input type="checkbox" id="scales" name="scales" checked />
      <label for="scales">CSC 102 ()</label>
    </div>
    <div>
      <label for="">CSC 102 (Computers for Today)</label>
    </div>
    <div>
      <label for="">CSC 115 (Introduction to Computer Technology)</label>
    </div>
    <div>
      <label for="">CSC 117 (Computer Technology Lab)</label>
    </div>
    <div>
      <label for="">CSC 119 (Computer Technology Concepts)</label>
    </div>
    <div>
      <label for="">CSC 126 (Introduction to Computer Science)</label>
    </div>
    <div>
      <label for="">CSC 135 (Introduction to Information Systems)</label>
    </div>
    <div>
      <label for="">CSC 140 (Computational Problem Solving in Python)</label>
    </div>
    <div><label for="">CSC 211 (Intermediate Programming)</label></div>
    <div>
      <label for=""
        >CSC 215 (Assistive Technology for Universal Applications)</label
      >
    </div>
    <div>
      <label for="">CSC 220 (Computer Organization)</label>
    </div>
    <div>
      <label for="">CSC 221 (Networking and Security)</label>
    </div>
    <div>
      <label for="">CSC 223 (Cybersecurity Fundamentals)</label>
    </div>
    <div>
      <label for=""
        >CSC 225 (Introduction to Web Development and the Internet)</label
      >
    </div>
    <div><label for="">CSC 226 (Web Database Applications)</label></div>
    <div>
      <label for="">CSC 227 (Introductory Computer Game Programming)</label>
    </div>
    <div>
      <label for=""
        >CSC 228 (Discrete Mathematical Structures for Computer Science)</label
      >
    </div>
    <div>
      <label for="">CSC 229 (Introduction to High Performance Computing)</label>
    </div>
    <div><label for="">CSC 235 (Robotic Explorations)</label></div>
    <div><label for="">CSC 245 (Introduction to Data Science)</label></div>
    <div><label for="">CSC 250 (Serious Game Development)</label></div>
    <div>
      <label for="">CSC 270 (Introduction to Scientific Computing)</label>
    </div>
    <div>
      <label for="">CSC 305 (Operating Systems Programming Laboratory)</label>
    </div>
    <div><label for="">CSC 315 (Introduction to Database Systems)</label></div>
    <div><label for="">CSC 326 (Data Structures)</label></div>
    <div><label for="">CSC 330 (Object-Oriented Software Design)</label></div>
    <div><label for="">CSC 332 (Operating Systems I)</label></div>
    <div><label for="">CSC 346 (Digital Systems Design)</label></div>
    <div><label for="">CSC 347 (Digital Systems Design Laboratory)</label></div>
    <div><label for="">CSC 382 (Analysis of Algorithms)</label></div>
    <div>
      <label for="">CSC 412 (Machine Learning and Knowledge Discovery)</label>
    </div>
    <div><label for="">CSC 421 (Internet Data Communications)</label></div>
    <div>
      <label for="">CSC 424 (Advanced Database Management Systems)</label>
    </div>
    <div><label for="">CSC 425 (Shared Memory Parallel Computing)</label></div>
    <div><label for="">CSC 426 (Applied Cryptography)</label></div>
    <div>
      <label for="">CSC 427 (Advanced Computer Game Programming)</label>
    </div>
    <div>
      <label for="">CSC 429 (Advanced High Performance Computing)</label>
    </div>
    <div><label for="">CSC 430 (Software Engineering)</label></div>
    <div><label for="">CSC 435 (Advanced Data Communications)</label></div>
    <div><label for="">CSC 436 (Modern Web Development)</label></div>
    <div><label for="">CSC 438 (Mobile Application Development)</label></div>
    <div><label for="">CSC 446 (Computer Architecture)</label></div>
    <div><label for="">CSC 450 (Honors Workshop)</label></div>
    <div><label for="">CSC 462 (Microcontrollers)</label></div>
    <div><label for="">CSC 470 (Introductory Computer Graphics)</label></div>
    <div>
      <label for="">CSC 475 (Image Processing in Computer Science)</label>
    </div>
    <div><label for="">CSC 480 (Artificial Intelligence)</label></div>
    <!-- <div><a href="" style="padding: 0px; b">CSC 482</span>&nbsp;Discrete Simulation</a></li>
<div><a href="" style=""><span style="0px; box-sizing: border-box;">CSC 484</span>&nbsp;Theory of Computation</a></li>
<div><a href="" style=""><span style="0px; box-sizing: border-box;">CSC 490</span>&nbsp;Seminar in Computer Science</a></li>-->
  </li>
  {% endblock %} {% block button %} {{ html_button|safe }} {% endblock %} {% if
  end %} {% block end_state%} {% endblock %} {% endif %}
</fieldset>
