{% extends "questions/base.j2" %}

{% block content %}
<li class="h-[100%] self-center justify-self-center flex">
  <p class="text-3xl font-bold font-display self-end text-center">Classes Taken or Taking</p>
</li>
{% endblock %}
