{% extends "questions/base.html" %}
{% from "questions/macros.html" import gen_buttons %}

{% block content %}
<li>
  <label for="first_name">first name:</label>
  <input
    placeholder="first name..."
    type="text"
    id="first_name"
    name="first_name"
  >
</li>
<li>
  <label for="last_name">last name:</label>
  <input
    placeholder="last name..."
    type="text"
    id="last_name"
    name="last_name"
  >
</li>
{% endblock %}

{% block button %}
{{ html_button|safe }}
{% endblock %}

{% if end %}
{% block end_state%}
{% endblock %}
{% endif %}
