{% extends "questions/base.html" %}
{% from "questions/macros.html" import gen_buttons %}

{% block content %}
<li>
  <label for="graduation_semester">Graduation Semester:</label>
  <input
    placeholder="year..."
    type="text"
    id="graduation_semester"
    name="graduation_semester"
  >
</li>
{% endblock %}

{% block button %}
<button id="previous" type="submit">previous</button>
<button id="next" type="submit">next</button>
{% endblock %}

