{% extends "questions/base.j2" %}

{% block content %}
<li>
  <label for="graduation_semester">Graduation semester:</label>
  <select name="graduation_semester" id="graduation_semester" :required="submitAction === 'next'">
    {% for semester in semester_range %}
      <option value="{{ semester }}" {{ 'selected' if semester == graduation_semester }}>{{ semester }}</option>
    {% endfor %}
  </select>
</li>
{% endblock %}
