{% extends "questions/base.html" %}
{% from "questions/macros.html" import gen_buttons %}

{% block content %}
<li>
  <p>Classes Taken</p>
</li>
{% endblock %}

{% block button %}
<button id="previous" type="submit">previous</button>
<button id="next" type="submit">next</button>
{% endblock %}
