{% extends "questions/base.j2" %}

{% block content %}
<li>
  <label for="gpa">GPA:</label>
  <input
    placeholder="gpa"
    type="number"
    min="0"
    max="4"
    step="0.01"
    id="gpa"
    name="gpa"
    value="{{ current_gpa }}"
  >
</li>
{% endblock %}
