{% extends "questions/base.j2" %}

{% block content %}
<li class="h-[100%] self-center justify-self-center flex">
  <p class="text-4xl font-bold font-display self-end">Career Questions</p>
</li>
{% endblock %}
