{% extends "questions/base.j2" %}

{% block content %}
<li>
  <fieldset>
    <legend>{{ question }}</legend>

    <div>
      <input type="radio" id="yes" name="selection" value="yes" :required="submitAction === 'next' || submitAction == 'done'" {{ yes_checked }} />
      <label for="yes">Yes</label>
    </div>

    <div>
      <input type="radio" id="no" name="selection" value="no" {{ no_checked }} />
      <label for="no">No</label>
    </div>
  </fieldset>
</li>
{% endblock %}

{% block button %}
{% if is_end %}
<button @click="submitAction = 'previous'" id="previous" type="submit">previous</button>
<button @click="submitAction = 'done'" id="done" type="submit">done</button>
{% else %}
<button @click="submitAction = 'previous'" id="previous" type="submit">previous</button>
<button @click="submitAction = 'next'" id="next" type="submit">next</button>
{% endif %}
{% endblock %}
