{% macro gen_confirm(milestones, allow_checkboxes) -%}
  {% if milestones|length > 0 %}
  <table class="rounded w-full text-sm">
    <thead class="text-xl">
      <tr class="bg-[#34a3e8] text-white">
        <th class="border border-gray-300 p-2 text-left text-center">Recommended Career Milestones</th>
        {% if allow_checkboxes %}
        <th class="border border-gray-300 p-2 text-left text-center">Done</th>
        {% endif %}
      </tr>
    </thead>
    

    <tbody class="bg-white text-black text-lg">
      {% for milestone in milestones %}
      {% if loop.index % 2 == 1 %}
      <tr class="bg-[#d3ebfa]">
        <td class="border border-gray-300 p-2 text-center">
          {{ milestone }}
        </td>
        {% if allow_checkboxes %}
        <td class="border border-gray-300 p-2">
          <label for="check1" class="flex justify-center items-center">
            <input id="check1" type="checkbox" class="w-[30px] h-[30px] cursor-pointer"/>
          </label>
        </td>
        {% endif %}
      </tr>
      {% else %}
      <tr>
        <td class="border border-gray-300 p-2 text-center">
          {{ milestone }}
        </td>
        {% if allow_checkboxes %}
        <td class="border border-gray-300 p-2">
          <label for="check2" class="flex justify-center items-center">
            <input id="check2" type="checkbox" class="w-[30px] h-[30px] cursor-pointer"/>
          </label>
        </td>
        {% endif %}
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>You've completed all career related milestones! 🎉</p>
  {% endif %}
{% endmacro -%}