{% extends "base.j2" %}

{% block script %}
<!-- Alpine Plugins -->
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
<script src="//unpkg.com/alpinejs" defer></script>
<script src="https://unpkg.com/htmx.org"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
{% endblock %}

{% block content %}
<div
  x-data="{
    prompt: "",
    messages: [],
    handleSubmit() {
      this.messages.push({
        from: 'You',
        message: this.prompt
      })
    },
    init() {
      document.body.addEventListener('htmx:afterSwap', () => {
        this.prompt = ""
      });
      document.body.addEventListener('htmx:beforeRequest', (evt) => {
        if (this.prompt.trim() === "") {
          evt.preventDefault();
        } else {
          handleSubmit();
        }
      })
    }
  }"
  x-init="
    init();
  "
  class="p-4 w-[50vw] my-[50px] mx-auto rounded shadow-xl">
  <div id="chat" class="h-[80vh] overflow-y-scroll border-b-2 border-b-[#ddd] mb-10 pb-10">
    <h1 class="text-center text-[2vw]"> Advisor </h1>
    <div>
      <template x-for="{from, message} in messages">
        <li x-text="from"></li>
        <li x-text="message"></li>
      </template>
    </div>
  </div>
  
  <form class="text-center" hx-post="/chat/ai-response" hx-trigger="submit" hx-swap="beforeend" hx-target="#chat">
    <div class="relative overflow-y-auto mx-auto"> 
    <input type="text" name="userInput" id="user-input" x-model="prompt" class="w-3/4 m-auto h-10 p-5 border-2 border-[#ddd] rounded" placeholder="Type your message...">
    <button type="submit" class="absolute cursor-pointer hover:text-[gray] text-responsive-header">🡪</button>
    </div>
  </form>
</div>

{% endblock %}
