{% extends "base.j2" %}
{% from 'macros/_confirmation.j2' import gen_confirm %}
{% from 'macros/_header.j2' import header %}

{% block content %}
{{ header(true) }}
<main class="flex justify-center items-center min-h-body">
  <div class="flex flex-col">
    {{ gen_confirm(milestones) }}
    <a href="/chat/adviser" class="mt-8 self-end">
      <button class="py-2 px-4 rounded-xl text-white font-bold bg-[#34a3e8] hover:bg-[#275d8b] transition-colors duration-200">Continue</button>
    </a>
  </div>
</main>
{% endblock %}
