{% extends "base.j2" %}

{% block script %}
<script src="//unpkg.com/alpinejs" defer></script>
{% endblock %}

{% block content %}

{% if error %}
<div x-data="{ showError: true }" 
     x-show="showError"
     x-init="setTimeout(() => showError = false, 10 * 1e3)" 
     class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded absolute top-5 left-1/2 -translate-x-1/2 z-50"
     x-transition:leave="transition ease-in duration-900"
     x-transition:leave-start="transform opacity-100"
     x-transition:leave-end="transform opacity-0 -translate-y-full">
    <div class="flex">
      <strong class="font-bold">Error!</strong>
      <span class="block sm:inline ms-1">{{ error }}</span>
      <button class="ms-4" @click="showError = false">
          ❌
      </button>
    </div>
</div>
{% endif %}

<div class="">
    <a href="https://www.csi.cuny.edu/" class="fixed bottom-2 left-4 md:top-4 md:left-4 mb-2">
        <img src="https://apps.csi.cuny.edu/Images/Logo_blue_gray.png" alt="Logo" class="h-auto w-[75px] sm:w-[100px] md:w-[150px] lg:w-[200px] xl:w-[250px]">
    </a>
</div>

<main class="min-h-screen">
    <!-- Logo (Image on the left) -->

    <!-- Title (Centered) -->
    <h1 class="text-responsive-title mt-4 font-black from-inherit text-center text-[#475D7B] tracking-wider">milestone.ai</h1>
    <!-- The rest of your page content -->
    <!-- Header Section -->
    <div class="min-h-screen flex flex-col justify-center items-center mx-auto py-10 font-mono">
        <!-- Element One in Flex Box -->
        <div class="flex flex-col flex-grow justify-center items-center w-full text-responsive-header">
            <p class="w-3/4 lg:w-1/2 text-[#84C7F1] mx-auto text-center font-bold">
                Milestone is an advisement tool to help you beat expectations.
            </p>
        </div>

        <!-- Element Two in Flex Box -->
        <div class="flex flex-col flex-grow justify-start items-center w-full">
            <p class="w-3/4 lg:w-1/2 mx-auto text-center mt-8 text-responsive-subheader">
                Fill out some information about your college experiences, and we'll provide personalized advice!
            </p>
            <!-- Button to Form -->
            <a href="/get-to-know-you" class="mt-4 bg-[#84C7F1] hover:bg-[#5C9BD1] text-white font-bold py-2 px-4 rounded text-responsive-header">
                Get Started
            </a>
        </div>

        <div class="flex flex-col flex-grow w-1/4">

        </div>
        
    </div>

</main>

{% endblock %}
