<nav class="relative">
    <!-- Logo (Image on the left) -->
    <div class="">

        <a href="https://www.csi.cuny.edu/" class="fixed bottom-2 left-4 md:top-4 md:left-4 mb-2">
            <img src="https://apps.csi.cuny.edu/Images/Logo_blue_gray.png" alt="Logo" class="h-auto w-[75px] sm:w-[100px] md:w-[150px] lg:w-[200px] xl:w-[250px]">
        </a>
        
        
    </div>
    <!-- Title (Centered) -->
    <h1 class="text-4xl md:text-6xl mt-4 font-black from-inherit text-center text-blue-400 tracking-wider">milestone.ai</h1>
</nav>